<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <preference for="Magento\Framework\Pricing\Render\Amount" type="Perspective\TutorialProductPage\Block\PriceBlock" />
    <preference for="Magento\Swatches\Block\Product\Renderer\Configurable" type="Perspective\TutorialProductPage\Block\SwatchBlock" />
</config>
